<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ template "head_extend.html" . }}
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .about {
            margin-left: 5%;
            margin-top: 5%;
        }
    </style>
</head>

<body>
    {{ template "navi.html" .}}

    <div class="about">
        <p, style="font-size: 24px;">
            Hi, I'm Tiger, a bricklayer. <br>
            Contant me with email: 1300288499@qq.com, or send me a private message with <a
                href="https://blog.csdn.net/m0_37518259?type=sub&subType=watch">CSDN</a>. <br>
            <a href="https://github.com/tigerhuli"><i class="fa fa-github" style="font-size:36px"></i></a>
            </p>
            <p>

            </p>
    </div>

    {{ template "footer.html" .}}
</body>

</html>