<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{ template "head_extend.html" . }}
    <title>Document</title>
</head>

<body>

    {{ template "navi.html" .}}

    <div>
        <svg id="mindmap" width="75%" height="75%" viewBox="0 0 1010 666"></svg>
        <script src="https://cdn.jsdelivr.net/npm/d3@6.3.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/markmap-view@0.2.0"></script>

        {{ .article_mm | safe}}

    </div>

    <div class="article_navi">
        {{ .article_tree | safe}}
    </div>

    {{ template "footer.html" .}}
</body>

</html>