{{ range .impressions }}
<div class="gallery">
    <a target="_blank" href={{ .ContentUrl }}>
        <img src={{ .Cover }} width="600" height="400">
    </a>

    <div class="desc">
        <p class="gallery_name">
            {{ .Name | safe}}
        </p>

        <a target="_blank" style="text-decoration: none;" href={{ .Url }}>
            <div class="gallery_comment">
                {{ .Stars | safe}}
            </div>
            <div class="gallery_comment">
                {{ .Comment}}
            </div>
            <div class="gallery_comment">
                {{ .ColorTags | safe }}
            </div>
            <div class="gallery_comment">
                {{ .UpdateTime }}
            </div>
        </a>

    </div>
</div>


{{ end }}
<div id="nextBatch"></div>