<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="http://tigerhuli.com/favicon_zzz" />
    <title>Document</title>
    <style>
        img {
            max-width: 66%;
            max-height: 66%;
        }

        h1 {
            text-align: center;
        }

        div.md_content {
            margin: 30px;
        }
    </style>
</head>

<body>
    {{ template "header.tmpl" .}}

    <div class="md_content">
        {{.md_content | safe}}
    </div>

    {{ template "footer.tmpl" .}}
</body>

</html>